# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*

# Build output
dist/
build/

# Coverage
coverage/

# Cache
.cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Vite
.vite/

# Optional
*.sqlite